.login-container {
    display: flex;
    height: 100vh;
}

.image-section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #e5e5e5;
}

.vehicle-image {
    max-width: 70%;
    height: auto;
}

.form-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 80px;
    background-color: #fafafa;
}

.logo {
    width: 130px;
    margin: 0 auto 50px auto;
}

.titulo {
    text-align: center;
    color: #32a67a;
    margin-bottom: 30px;
}

.form-group {
    margin-bottom: 15px;
}

.form-check {
    margin: 20px 0;
    color: #777;
}

.btn-login {
    width: 100%;
    height: 45px;
    border: none;
    border-radius: 5px;
    background-color: #d9d9d9;
    color: white;
    cursor: pointer;
}

.btn-login:hover {
    background-color: #bdbdbd;
}

@media (max-width: 768px) {
    .login-container {
        flex-direction: column;
    }

    .form-section {
        padding: 40px 30px;
    }

    .image-section {
        height: 40vh;
    }
}

.alert.alert-danger.mt-3.text-center.p-2.small{
    color: #ff021c;
}